.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add a black background color to the top navigation */
.div_nav {
  background-color: #676767;
  height: 65px;
}

.nav-menu{
  display: flex;
  padding-top: 15px;
}

#logo-nav{
  width: 50px;
  height: 50px;
  margin-top: -5px;
}

/* Style the links inside the navigation bar */
.div_nav a {
  width: 280px;
  height: 30px;
  border-radius: 20px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.card-img-top{
  width: 50px;
  height: 100px;
}

.card{
  width: 400px;
  height: 640px;
}

.kartice_pocetna{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

#slika-kartica{
  height: 300px;
}

#link-kartica{
  height: 60px;
  font-size: 30px;
  margin-bottom: 50px;
}

.card-text{
  font-size: 20px;
}

.forma {
  width: 650px;
  margin-top: 50px;
  margin-left: 640px;
}

.elem-forma{
  margin-top: 10px;
}

